* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    background-color: #242424;
    color: white;
}

#container {
    display: flex;
    margin: 10px auto;
    width: fit-content;
}

#canvascontainer {
    width: 500px;
    height: 500px;
    background-color: #101010;
}

#uiright {
    text-align: center;
    margin-left: 5px;
    padding: 20px 10px;
    width: 395px;
    background-color: #101010;
}

button {
    min-width: 80px;
    min-height: 24px;
    background-color: #1f1f1f;
    color: white;
    border: 0;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    margin: 0 5px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
}

button:disabled {
    color: grey;
    box-shadow: none;
}

#rules {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(80, 80, 80);
}

#rulesheader {
    font-size: 1em;
}

table {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.typeheader {
    background-color: #242424;
}

.typeheader td {
    margin-top: 3px;
    padding: 2px;
    border-top: 5px solid #101010;
}

.slidertd {
    position: relative;
    user-select: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    display: inline-block;
    z-index: 0;
}

.factor {
    color: #101010;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}
